.pagination-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2em;
}

.pagination-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.pagination>button:disabled,
button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}

label {
    margin-bottom: 0;
    margin-right: 5px;
}

input {
    width: 50px;
    height: 90%;
    border: 1px solid #6c757d;
    border-radius: 2px;
}

select {
    border: 1px solid #6c757d;
    border-radius: 2px;
}